# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.venv/
env/

# Bases de données
*.db
*.sqlite3

# Fichiers stockés (on garde le dossier, on ignore son contenu)
api/storage/*
!api/storage/.gitkeep

# Node / web
node_modules/
dist/
dist-ssr/
*.local

# IDE / OS
.idea/
.vscode/
.DS_Store
